<% if (typeof mesaj!='undefined') { %>
    <div class="alert alert-warning">  <i class="fas fa-check-square"></i>   <%-mesaj %>

            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Kapat</span></button>
    </div>
<% } %>

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Blank Page</h1>

</div>